/* Moviles en vertical */

@import "nav.css";
* {
    background-color: rgb(50, 121, 149);
}

#Login {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#Logo {
    text-align: center;
    border: 2px solid white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-top: 25px;
    margin: 10px auto 10px auto;
}

.cls_logo {
    width: 200px;
    height: 150px;
    background-color: transparent;
}

h1 {
    text-align: center;
    color: white;
}

#Form-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

input {
    color: white;
}

h5 {
    text-align: center;
    color: white;
}

#Form-option {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#posteos {
    background-color: rgb(50, 121, 149);
}

.Bwhite {
    background-color: white;
}

.Fblack {
    color: balck;
}

.Lwhite {
    color: white;
}

.static {
    position: fixed;
}

#page-content {
    flex: 1 0 auto;
}

#footer {
    flex-shrink: none;
}

#posts {
    background: rgb(50, 121, 149);
}


/* Móviles en horizontal o tablets en vertical */

@media (min-width: 768px) {}


/*Tablets en horizonal y escritorios normales */

@media (min-width: 1024px) {}