nav {
    position: fixed;
    border: 2px solid white;
    height: 55px;
    bottom: 1vh;
    left: 5vw;
    right: 5vw;
    font-size: 2rem;
    color: black;
    background-color: rgba(255, 255, 255, .9);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: black;
    padding: 0;
    margin: 0;
    align-items: stretch;
}

nav ul li {
    float: left;
    text-decoration: none;
    color: black;
    width: 12%
}

nav ul li:first-child {}

nav ul li:last-child {}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a i {}