footer {}

nav {
    background-color: rgba(255, 255, 255, .1);
    position: fixed;
    /*border: 2px solid white;*/
    bottom: 0.5vh;
    width: 100%;
    font-size: 2rem;
    color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: black;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-decoration: none;
    color: black;
    height: 50px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: darkorange;
}