/* Moviles en vertical */
body {
    background-color: white;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

main {
    background-color: rgb(50, 121, 149);
}

#container-banner {
   background-image: url(../imgs/banner-example.jpg);
   background-repeat: no-repeat;
   height: 200px;
   width: 100%;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: left;
   margin: 0px;
}

.image-profile {
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
}

#container-description {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-right: 10%;
    margin-left: 10%;
    padding: 20px 5px 0px 5px;
}

span p {
    color: rgb(194, 196, 183);
}

p {
    color:white;
}

span {
    color: white;
}

li {
    color: white;
}

h5 {
    color: white;
    font-weight: bold;
}


.text-pub {
    text-align: center;
}

.img-pub {
    width: 100%;
    text-align: center;
}

img {
    width: 80%;
}

article {
    margin: 2%;
    border-bottom: 1px solid gray;
}

.img-profile-post {
    width: 50px;
    height: 50px;
}

.comments {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

/* Móviles en horizontal o tablets en vertical */
@media (min-width: 768px) {
body {
    margin: 0px;
    display: flex;
    flex-direction: row;
}
    
}
    
    
/*Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) {
body {
    margin: 0px;
    display: flex;
    flex-direction: row;
}
    
}