/* Moviles en vertical */

@import "nav.css";

#Login {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#Logo {
    text-align: center;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-top: 25px;
    margin: 10px auto 0px auto;
}

.cls_logo {
    width: 200px;
    height: 150px;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    color: white;
}

h6 {
    text-align: left;
    color: white;
}

#Form-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

input {
    color: white;
}

#Form-option {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* Móviles en horizontal o tablets en vertical */

@media (min-width: 768px) {}


/*Tablets en horizonal y escritorios normales */

@media (min-width: 1024px) {}