.friend {
    border: white 1px solid;

}

p {
    color: rgb(194, 196, 183)
}

span a:link, span a:visited, span a:active {
    text-decoration:none;
    color: white;
}

.ContainerA {
    border: grey 1px solid;
}

.image-friend{
    width: 50%;
    height: 50%;
}

.div-image {
    height: 100px;
    width: 40%;
}

.div-nombre {
    width: 60%;
}
